.moon__container {
  display: flex;
  align-items: center;
  flex-direction: column;

  position: relative;

  padding-top: 10px;
  padding-left: 10px;

  width: 90%;
  min-height: 800px;
  background: white;
  border-radius: 5px;

  box-shadow: 0 0 2px 10px white;
}

.logo {
  align-self: flex-start;
  background: var(--accent);
  border-radius: 5px;
}